/* @font-face {
  font-family: "Shizuru";
  src: url("/fonts/Shizuru.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
} */
/* Currently not working;need to check out how to local host fonts */
